@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&display=swap");

* {
    font-family: "Kanit", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.divider {
    height: 2px;
    width: 90%;
    background-color: black;
    margin: 0 auto;
}

.navbar-user {
    display: none;
}

/* sidebar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.header-mobile {
    display: flex;
    margin: 10px;
}

.header-mobile #brand-name {
    margin: auto auto;
    text-transform: uppercase;
}

/* dashboard content */
#content-dashboard {
    margin: 15px;
}

.dashboard-title {
    font-size: 30px;
    margin-top: 20px;
}

.dashboard-subtext {
    font-size: 15px;
    margin: 30px 0;
}

#button-prices {
    text-decoration: none;
    color: white;
    background-color: #292828;
    padding: 10px;
    border-radius: 7px;
}

.right-side-dashboard {
    display: none;
}

/* price content */
#content-prices {
    margin: 30px;
}

#prices-title {
    padding-top: 30px;
    padding-bottom: 20px;
    color: black;
    text-align: center;
    font-size: larger;
    font-weight: 400;
}

#room-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

[class*="room-"] {
    background-color: #ffeeb3;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.facilities {
    padding: 25px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.icons img {
    width: 60px;
}

[class*="room-"] .price {
    text-align: center;
}

/* about content */
#map iframe {
    width: 100%;
}

/* footer */
.footer {
    width: 100%;
    height: 80px;
    background-color: #252323;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: white;
}

/* tablet */
@media only screen and (min-width: 801px) {
    [class*="room-"] {
        height: 300px;
        width: 500px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/* desktop */
@media only screen and (min-width: 1025px) {
    /* hide sidebar */
    .sidenav {
        display: none;
    }

    .header-mobile {
        display: none;
    }

    /* navbar */
    nav.navbar-user {
        display: flex;
        justify-content: space-between;
        margin: 20px;
    }

    nav.navbar-user a {
        text-decoration: none;
        font-size: large;
        color: black;
    }

    #brand-name {
        margin: 0;
        margin: auto 0;
        font-size: 20px;
        text-transform: capitalize;
    }

    #login-button {
        font-weight: 300;
        display: inline-block;
        height: 40px;
        width: 100px;
        border: 1px solid black;
        border-radius: 7px;
        text-align: center;
        padding-top: 5px;
        box-shadow: none;
        transition: 0.5s box-shadow;
    }

    #login-button:hover {
        box-shadow: 3px 6px black;
    }

    #redirect-dashboard-button {
        font-weight: 300;
        display: inline-block;
        height: 40px;
        width: 150px;
        border: 1px solid black;
        border-radius: 7px;
        text-align: center;
        padding-top: 5px;
        box-shadow: none;
        transition: 0.5s box-shadow;
    }

    #redirect-dashboard-button:hover {
        box-shadow: 3px 6px black;
    }

    .center-side-navbar {
        display: flex;
        gap: 40px;
        margin: auto 0;
    }

    .right-side-navbar {
        margin-right: 90px;
    }

    /* content */
    [id*="content"] {
        height: 500px;
        width: 100%;
    }

    /* part of contents */
    #content-dashboard {
        background-color: white;
        display: flex;
        margin: 0;
    }

    #content-prices {
        background-color: #252323;
        margin: 0;
    }

    #content-about {
        background-color: white;
        height: 600px;
        display: flex;
    }

    /* dashboard content */
    .left-side-dashboard {
        margin: 50px 30px 20px 30px;
        width: 50%;
    }
    .dashboard-subtext {
        font-size: 15px;
        color: grey;
        margin-top: 18px;
        margin-bottom: 50px;
    }

    #button-prices:hover {
        color: black;
        background-color: white;
        border: 1px solid black;
    }

    /* image building */
    #kost-building {
        height: 95%;
        width: 95%;
    }

    .right-side-dashboard {
        display: block;
    }

    /* price contents */
    #prices-title {
        color: white;
        padding-bottom: 30px;
    }

    #room-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    [class*="room-"] {
        background-color: white;
        margin-inline: 10px;
        margin-top: 0;
        margin-bottom: 0;
        height: 350px;
        width: 350px;
    }

    /* about content */
    .info {
        margin: 60px;
    }

    #map iframe {
        width: 700px;
        height: 600px;
    }
}
